/* dashboard card sec */

.card-section .card {
    background: #272A2D;
    border-radius: 8px;
    color: #fff;
    border: 1px solid #88888847;
    margin: 20px 0;
}

.card-section h4 {
    font-weight: 500;
    font-size: 20px;
}

.card-section h6 {
    font-size: 12px;
    color: #666E79;
}

.align-left {
    text-align: left;
}

.card-section .first-sec {
    display: flex;
    align-items: flex-start;
}

.card-section .first-sec img {
    margin-right: 10px;
}

.card-section .second-sec-wrap {
    border-left: 1px dashed #88888847;
    padding: 0 0px 0 30px;
}

.card-section .card-body .row {
    align-items: center;
}

.card-section .wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card-section .second-sec h4 {
    margin: 0 20px 0 10px;
}

.card-section .second-sec h6 {
    margin-top: 10px;
}

.align-right {
    text-align: right;
}

.ml-60 {
    margin-left: 60px;
}

.card-section .third-sec h4 {
    letter-spacing: 3px;
}

.notification {
    position: absolute;
    background-color: #1C9DE8;
    color: #fff;
    border: 1px solid #1C9DE8;
    border-radius: 50%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 3px;
    top: 0px;
    right: 20px;
    width: 18px;
    height: 18px;
}

.notification h6 {
    font-size: 10px !important;
    margin-bottom: 0!important;
    line-height: 9px!important;
    margin-right: 0!important;
    color: #fff!important;
}

@media all and (max-width: 767px) {
    .card-section .second-sec-wrap {
        border-left: 0;
        padding: 0 0 0 15px;
        margin-top: 20px;
    }
    .card-body .col-md-4 img {
        margin: 15px 0;
    }
    .ml-60 {
        margin-left: 0;
    }
    .align-right {
        text-align: left;
    }
    .img-wrap {
        text-align: left;
    }
}